@charset "UTF-8";

	header {
        font-family: "East Sea Dokdo", cursive;
        font-size: 20px;
        text-decoration: none;
        background-size: cover;
      }
      .navbar__logo {
        font-size: 70px;
      }
      .navbar__menu {
      font-size: 20px;
        font-family: "Black Han Sans", sans-serif;
        display: flex;
        list-style: none;
        padding-left: 0;
      }
      .navbar__menu li {
        padding: 8px 50px;
      }
      .navbar__menu li:hover {
        background-color: rgba(163, 218, 240, 0.336);
        border-radius: 12px;
      }
      .navbar__main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(133, 133, 133, 0.212);
      }
      .navbar__icons {
        list-style: none;
        color: black;
        display: flex;
        padding-left: 0;
      }
      .navbar__icons li {
        padding: 8px 12px;
      }
      a {
        text-decoration: none;
        color: rgb(0, 61, 31);
      }
      i {
        font-size: 50px;
        text-decoration: none;
      }

      .navbar__toggleBtn {
        display: none;
        position: absolute;
        right: 32px;
        color: rgb(0, 69, 172);
      }

      @media screen and (max-width: 1350px) {
        .navbar {
          flex-direction: column;
          align-items: flex-start;
        }
        .navbar__menu {
          display: none;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }

        .navbar__menu li {
          width: 100%;
          text-align: center;
        }

        .navbar__icons {
          display: none;
          justify-content: center;
          width: 100%;
        }
        .navbar__toggleBtn {
          display: block;
        }

        .navbar__menu.active,
        .navbar__icons.active {
          display: flex;
        }
      }